<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="form-content">
    <div class="amount-container">
      <input
        type="number"
        required
        name="amount"
        class="form-control"
        placeholder="Amount"
        [ngModel]="item.amount"
      />
    </div>
    <div class="description-container">
      <input
        type="text"
        required
        name="description"
        class="form-control"
        placeholder="Description"
        [ngModel]="item.description"
      />
    </div>
    <button
      type="submit"
      class="button"
      [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }"
      [disabled]="!itemForm.valid"
    >
      <p *ngIf="isNewItem">Add</p>
      <p *ngIf="!isNewItem">Update</p>
    </button>
    <div></div>
  </div>
</form>
